$ns: leaders;

.#{$ns} {
    background: $dark-black;
    padding: 40px 6px 151px;
    color: $white;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        padding: 48px 0px 122px;
    }

    h2 {
        font-size: 32px;
        font-weight: $font-weight-bold;
        line-height: 30px;
        margin-bottom: 28px;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 64px;
            line-height: 52px;
            margin-bottom: 48px;
        }
    }

    &__slider {
        &__img-holder {
            background: linear-gradient(180deg, #848A91 0%, #B8BABF 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            height: auto !important;
            margin-bottom: 32px;
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 109%;

            @include media-breakpoint-up(xxl) {
                padding-top: 90%;
            }

            img {
                height: 100%;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                object-position: top;
                transform: translate(-50%, -50%);
            }
        }

        h3 {
            font-size: 40px;
            font-weight: $font-weight-bold;
            letter-spacing: 1.25px;
            line-height: 37px;
            margin-bottom: 8px;
            text-align: center;
            text-transform: capitalize;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }

        h5 {
            font-size: 24px;
            font-weight: $font-weight-semibold;
            line-height: 24px;
            margin-bottom: 28px;
            text-align: center;
            text-transform: capitalize;

            @include media-breakpoint-up(lg) {
                margin-bottom: 30px;
                text-align: left;
            }
        }

        h6 {
            font-family: $font-family-base;
            font-size: 24px;
            font-weight: $font-weight-semibold;
            line-height: 30.17px;
            margin-bottom: 25px;
            text-align: center;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                text-align: left;
                margin-bottom: 0;
            }
        }

        a {
            @include media-breakpoint-up(lg) {
                opacity: 0;
                visibility: hidden;
                transition: all .2s ease-in-out;
            }

            &.btn {
                @include media-breakpoint-up(lg) {
                    margin-top: 32px;
                }
    
            }
        }

        .slick-prev {
            background-color: transparent;
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M8.95384%2015.8335L35.333%2015.8335L35.333%2020.1668L8.95384%2020.1668L21.0872%2032.3002L17.9997%2035.3335L0.666338%2018.0002L17.9997%200.66683L21.0872%203.70016L8.95384%2015.8335Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            border: none;
            font-size: 0;
            height: 34.67px;
            left: calc(50% - 32.67px);
            position: absolute;
            transform: translateX(-50%);
            width: 34.67px;
            z-index: 1;
            bottom: -111px;

            @include media-breakpoint-up(lg) {
                top: -94px;
                right: 66px;
                left: unset;
            }
        }

        .slick-next {
            background-color: transparent;
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M27.0462%2020.1665H0.666992V15.8332H27.0462L14.9128%203.69984L18.0003%200.666504L35.3337%2017.9998L18.0003%2035.3332L14.9128%2032.2998L27.0462%2020.1665Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            border: none;
            font-size: 0;
            height: 34.67px;
            position: absolute;
            right: calc(50% - 34.67px - 32px);
            transform: translateX(-50%);
            width: 34.67px;
            bottom: -111px;

            @include media-breakpoint-up(lg) {
                top: -94px;
                right: 0;
                left: unset;
            }
        }
        
        .slick-track {
            margin-left: -40px;
        }

        .slick-list {
            @include media-breakpoint-up(lg) {
                width: 100vw;
                position: relative;
                left: 0;
            }

            .slick-slide {
                text-align: center;

                @include media-breakpoint-up(lg) {
                    padding-right: 40px;
                    text-align: left;
                }

                &:hover {
                    a {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

// Leader Popup

.leader-popup {
    &__profile {
        display: flex;
        margin-bottom: 29px;

        @include media-breakpoint-up(lg) {
            align-items: center;
        }

        &__img-holder {
            background: linear-gradient(180deg, #848A91 0%, #B8BABF 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            height: auto !important;
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 27%;
            max-width: 30%;
            flex: 0 0 30%;

            img {
                height: 100%;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                object-position: top;
                transform: translate(-50%, -50%);
            }
        }

        &__info {
            margin-left: 29px;

            h3 {
                color: $primary-color;
                font-size: 40px;
                font-weight: $font-weight-bold;
                line-height: 40px;
                margin-bottom: 0;
            }

            p {
                color: $primary-color;
                font-size: 24px;
                font-weight: $font-weight-semibold;
                line-height: 24px;
                font-family: $font-family-base;
                margin-bottom: 5px;
            }

            h6 {
                font-family: $font-family-base;
                color: $primary-color;
                font-size: 24px;
                font-weight: $font-weight-semibold;
                line-height: 24px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        &__detail {
            font-family: $font-family-base;
            color: $primary-color;
            font-size: 16px;
            font-weight: $font-weight-normal;
            line-height: 24px;
            margin-bottom: 0;
        }
    }

    &__content {
        background-color: $popup-bg-color;
    }

    &__body {
        padding: 40px 20px;

        @include media-breakpoint-up(lg) {
            padding: 40px;
        }
    }

    &__close {
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 58px;
        top: 17px;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            right: 15px;
            top: 10px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
